{% extends "blog/base.html" %}
{% block content %}

    <form method="post" action="{% url 'registration_register' %}">{% csrf_token %}
     <table>
    <tr>
        <td>Username</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>Password </td>
        <td>{{ form.password1 }}</td>
    </tr>
         <tr>
        <td>Confirm Password </td>
        <td>{{ form.password2 }}
        {% if form.errors.password2 %}
            Passwords didn't match <br>
        {% endif %}
        </td>
    </tr>
    </tr>
         <tr>
        <td>Email </td>
        <td>{{ form.email }}
            {% if form.errors.email %}
            Incorrect email <br>
        {% endif %}</td>

    </tr>
    </table>


        <input type="submit" value="Register"/>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>


{% endblock %}