<html xmlns="http://www.w3.org/1999/html">
<head>
<title>Baka</title>
</head>
    <body>
        <div>
            <h1><a href="">Very stupid</a></h1>
            <p>Im tired</p>
        </div>

        <div>
            {% for post in posts %}
                <h1> <a href=""> {{post.title}} </a> </h1>
                {{ post.text|linebreaksbr }}
                <p>published : {{ post.published_date }}</p>
                <p>author : {{ post.author }}</p>
                <br><br><br>

            {% endfor %}

        </div>
    </body>
</html>